body {
    background-color: black;
}
.planet-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .planet-img {
    width: 300px;
    max-width: 90%;
    border-radius: 50%;
    margin-bottom: 20px;
    animation: fadeInRotate 1.5s ease-out;
  }

  @keyframes fadeInRotate {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  